version: "3.9"

services:
  db:
    image: postgres:16
    container_name: ledger-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ledgerdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: ledger-app
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@db:5432/ledgerdb"
      PORT: 3000
    ports:
      - "3000:3000"

volumes:
  pgdata:
